<!DOCTYPE html>
<html>
  <head>
    <title>Chatbot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= form_tag '/chats' do %>
      <%= text_area_tag :chatContent %>
      <%= submit_tag "Ask Bot!" %>
    <% end %>
  </body>
</html>
